<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My App</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>
</head>
<body>
<div class="wrapper">

    <header></header>
    <h1><%= title %></h1>
    <%- breadcrumbs %>

    <section class="main">
        <section class="side-bar">
            <nav>
                <ul>
                    <li><a href="/menu">תפריט</a></li>
                </ul>
            </nav>
        </section>

        <section class="main-content">

            <form id="<%= additions_type[0].id %>" class="additions-type-form">
                <p>שם:</p>
                <textarea name="name" maxlength="200"><%= additions_type[0].name %></textarea>
                <p>תיאור:</p>
                <textarea name="description" maxlength="200"><%= additions_type[0].description %></textarea>
                <br><br>אופן הבחירה של פריטים מסט זה כרגע הוא:
                <b><%= selection_type %></b>
                <br><br>ערוך את אופן הבחירה של פריטים מסט זה על ידי המשתמש:
                <br><br>
                <input type="radio" value='optional_max' name="selection_type_radio" <%=is_def_radio(additions_type[0].selection_type, 'optional_max')%>>אופציונלי עד
                <input type="radio" value='required_exact' name="selection_type_radio" <%=is_def_radio(additions_type[0].selection_type, 'required_exact')%>>בחר בדיוק
                <input type="radio" value='required_min' name="selection_type_radio" <%=is_def_radio(additions_type[0].selection_type, 'required_min')%>>בחר לפחות
                <br><select name="selector">
                    <% for(var i = 0; i < items_count[0].val; i++) { %>
                        <option <%=is_def_option(additions_type[0].selections_amount, i+1)%>><%= i+1 %></option>
                    <% } %>
                </select>

                <br><br><input type="submit" value="עדכן שינויים">
                <div id="message-panel"></div>
            </form>

        </section>

    </section>

</div>
</body>
</html>