<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My App</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>
</head>
<body>
<div class="wrapper">

    <header></header>
    <h1><%= title %></h1>
    <%- breadcrumbs %>

    <section class="main">
        <section class="side-bar">
            <nav>
                <ul>
                    <li><a href="/menu">תפריט</a></li>
                </ul>
            </nav>
        </section>

        <section class="main-content">

            <% for(var i = 0; i < items.length; i++) { %>
            <br><div class="item-container"><%= items[i].details.name %> - <%= items[i].details.description %> - <%= items[i].details.price %>
                <!--<ul>-->
                <!--<% for(var j = 0; j < items[i].addition_types.length; j++) { %>-->
                <!--<li><a href="#"><%= items[i].addition_types[j].details.name %></a>-->
                <!--<% for(var k = 0; k < items[i].addition_types[j].items.length; k++) { %>-->
                <!--<%=  items[i].addition_types[j].items[k].details.name %>-->
                <!--<% } %>-->
                <!--</li>-->
                <!--<% } %>-->
                <!--</ul>-->
            </div>
            <% } %>

        </section>

    </section>
</div>
</body>
</html>