<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My App</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>
</head>
<body>
<div class="wrapper">

    <header></header>
    <h1><%= title %></h1>
    <%- breadcrumbs %>

    <section class="main">
        <section class="side-bar">
            <nav>
                <ul>
                    <li><a href="/menu">תפריט</a></li>
                </ul>
            </nav>
        </section>

        <section class="main-content">

            <% for(var i = 0; i < items.length; i++) { %>
            <br>
            <section class="item-container" id="<%= items[i].details.id %>">
                <section class="image-container"></section>
                <section class="info-container">
                    <section class="title"><p><%= items[i].details.name %></p></section>
                    <section class="description"><p><%= items[i].details.description %><p></section>
                </section>
                <section class="price-container"><p><%= items[i].details.price %> &#8362;</p></section>
                <section class="edit-menu-item"><a href="/edit-food-item&item_id=<%= items[i].details.id %>&item_name=<%= items[i].details.name %>&category_id=<%= id %>&category_name=<%= title %>"  id="edit">ערוך</a></section>
            </section>

            <section class="addition-items-container">
                <% for(var j = 0; j < items[i].addition_types.length; j++) { %>
                <section class="additions-set-container">

                    <section class="set-title">
                        <p>
                            <%= items[i].addition_types[j].details.name %>: <%= items[i].addition_types[j].details.description %> <%= selection_type(items[i].addition_types[j].details.selection_type, items[i].addition_types[j].details.selections_amount) %>
                        </p>
                        <a href="/edit-additions-type&category_id=<%= id %>&category_name=<%= title %>&food_item_id=<%= items[i].details.id %>&food_item_name=<%= items[i].details.name %>&additions_type_id=<%= items[i].addition_types[j].details.id %>&additions_type_name=<%= items[i].addition_types[j].details.name %>">ערוך</a>
                    </section>
                    <section class="set-items-container">

                        <% for(var k = 0; k < items[i].addition_types[j].items.length; k++) { %>
                        <section class="set-item" id="<%= items[i].addition_types[j].items[k].details.id %>">
                            <section class="header-container">
                                <section class="info">
                                    <section class="title"><p><%= items[i].addition_types[j].items[k].details.name %></p></section>
                                    <section class="description"><p><%= items[i].addition_types[j].items[k].details.description %></p></section>
                                </section>
                                <section class="price"><p><%= items[i].addition_types[j].items[k].details.price %> &#8362;</p></section>
                            </section>
                            <section class="image-container"></section>
                            <section class="edit-container">
                                <a href="/edit-addition-item&category_id=<%= id %>&category_name=<%= title %>&food_item_id=<%= items[i].details.id %>&food_item_name=<%= items[i].details.name %>&additions_type_id=<%= items[i].addition_types[j].details.id %>&additions_type_name=<%= items[i].addition_types[j].details.name %>&addition_item_id=<%= items[i].addition_types[j].items[k].details.id %>&addition_item_name=<%= items[i].addition_types[j].items[k].details.name %>" id="edit">ערוך
                                </a>
                            </section>
                        </section>
                        <% } %>
                    </section>
                </section>
                <% } %>
            </section>
            <% } %>

        </section>

    </section>

</div>
</body>
</html>




